.opening-main {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, darkslategray, cadetblue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opening-box {
  height: 60vh;
  width: 30%;
  border-radius: 5px;
  background-color: dimgray;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 10px rgb(45, 45, 45);
}

.p-one {
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-weight: 500;
}

.begin-button {
  height: 5vh;
  width: 5vw;
  border-radius: 5%;
  font-weight: bolder;
  font-size: medium;
}
.begin-button:hover {
  cursor: pointer;
  background-color: darkgoldenrod;
}

/*  */

.survey-main {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, darkslategray, cadetblue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.survey-box {
  height: 100%;
  width: 60%;
  margin: 5%;
  padding: 3%;
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 10px rgb(45, 45, 45);
  border-radius: 5px;
  overflow: scroll;
  font-weight: 500;
}

.answer {
  padding-bottom: 6%;
  width: 20vw;
  margin-left: 2%;
  overflow: scroll;
}

.survey-button {
  margin-top: 2vh;
  height: 5vh;
  width: 5vw;
  border-radius: 5%;
  font-weight: bolder;
  font-size: small;
}
.survey-button:hover {
  cursor: pointer;
  background-color: darkgoldenrod;
}

/*  */

.closing-main {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, darkslategray, cadetblue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closing {
  margin-top: 30vh;
  font-size: x-large;
  font-weight: 500;
}

/*  */

@media(max-width: 414px){
  .opening-box {
    width: 80%;
    height: 55vh;
  }
  .begin-button {
    width: 25vw;
  }
  .flex-security {
    width: 80vw;
    padding: 3%;
  }
  .input-one {
    width: 25vw;
  }
  .security-button {
    width: 20vw;
  }
  .answer {
    padding-bottom: 20%;
    width: 50vw;
  }
  .survey-button {
    width: 20vw;
  }
}

@media(min-width: 768px){
  .opening-box {
    width: 50%;
    height: 40vh;
  }
  .p-one {
    font-size: large;
  }
  .begin-button {
    width: 10vw;
  }
  .flex-security {
    font-size: large;
    padding: 3%;
    height: 25vh;
  }
  .security-button {
    height: 3vh;
    width: 8vw;
  }
  .survey-button {
    height: 3vh;
    width: 8vw;
  }
}

.bar-seperation {
  height: 5px;
  width: 80vw;
  background-color: dodgerblue;
}

.flex-results {
  margin-left: 10vw;
}

.results-main {
  display: flex;
  flex-direction: column;
}

.auth-main {
  background-color: rgb(196, 196, 196);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.auth-button:hover {
  cursor: pointer;
  background-color: goldenrod;
}